<%= form_for @shape do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :number_of_sides %>
    <%= f.text_field :number_of_sides %>
  </p>
  <p>
    <%= f.submit 'Update Shape' %>
  </p>
<% end %>